<%- include("./partials/header") %>
<h1>welcome to our blog</h1>
<p><%=homeContent %></p>
<hr />
<%postarr.forEach(element => {%>
<h2><%=element.name%></h2>
<p><%=element.Content%></p>
<hr />
<%});%> <%- include("./partials/footer") %>
